body{
    margin: 0;
    margin-top: 5vh;
    padding: 0;
}

header{
    margin: 0;
    padding: 0;
}

.nav-bar{
    top: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    z-index: 9999;
    margin: 0;
    padding: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: rgb(0, 0, 0);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between; /* Distribute space between left and right containers */
    align-items: center;
    width: 60%; /* Adjust width to control the distance from the edges */
}

.home-box, .about-box, .login-box, .tutorial-box {
    padding: .5vh .5vw;
    background-color: #510505;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: auto;
}

.home-box button, .about-box button, .login-box button, .tutorial-box button {
    background-color: #510505;
    border: 2px solid #510505;
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    padding: 0 .5vw;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.home-box button:hover, .about-box button:hover, .login-box button:hover, .tutorial-box button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.home-box button:disabled, .about-box button:disabled, .login-box button:disabled, .tutorial-box button:disabled{
    color: #666666;
    cursor: not-allowed;
    opacity: 0.5;
}

.page-box {
    padding-top: .5vh;
    padding-bottom: .5vh;
    padding-left: .5vw;
    padding-right: .5vw;
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: auto;
}

.page-box h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: white;
}

.main{
    position: relative;
    margin: 0;
    margin-top: 8vh;
    padding: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;
    height: 90vh;
    color: white;
    background-image: url(/static/images/homebackgroundpicture.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 192, 0.5);
    z-index: 1;
}

.picture-text {
    font-size: 100px;
    position: absolute;
    top: 25%;
    left: 32%;
    z-index: 2;
    color: white;
    text-shadow: 0 0 3px black, 0 0 5px black;
}

.tutorial-content, .about-content, .login-content, .profile-content{
    margin-top: 8vh;
}

.login-help {
    margin-top: 20vh;
    text-align: center;
}

.login-form {
    margin-top: 10vh;
    text-align: center;
}

#login label {
    padding-left: 5vw;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5vw;
}

.profile-side-bar {
    flex: 0.8;
    margin-left: 8vw;
    margin-top: 10vh;
    border: 5px solid black;
    padding-left: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-right: 1vw;
    font-size: 15px;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.profile-picture img {
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    border: 5px solid #000;
    object-fit: cover;
}

.profile-first-name-block, .profile-last-name-block, .profile-id-block, .days-since-excercise-block, .friends-button {
    border: 1px solid black;
    margin-right: 1vw;
    font-size: 15px;
    padding-left: 1vw;
}

.main-profile-content {
    margin-top: 10vh;
    margin-right: 8vw;
    flex: 2;
}

.statistics-box {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.grid-item {
    background-color: #cceeff;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 2px;
}

.log-button-boxes {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vw;
    background-color: white;
}

.log-button-boxes p {
    font-size: 20px;
}

.exercise-log-box {
    border: 2px solid black;
    border-radius: 7px;
}

#log-exercise {
    width: 100%;
    height: 100%;
    background-color: #680c0c;
    border: black;
    cursor: pointer;
    color: white;
}

#log-exercise:hover {
    background-color: #310000;
}

.measurement-log-box {
    border: 2px solid black;
    border-radius: 7px;
}

#log-measurement {
    width: 100%;
    height: 100%;
    background-color: #400f6e;
    border: black;
    cursor: pointer;
    color: white;
}

#log-measurement:hover {
    background-color: #240343;
}