<!DOCTYPE html>
<html>
    <head>
        <title>MuscleMaster</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="/static/js/exercise_log.js" defer></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-bar">
                    <div class="container">
                        <div class="home-box">
                            <button id="home">HOME</button>
                        </div>
                        <div class="about-box">
                            <button id="about">ABOUT</button>
                        </div>
                        <div class="page-box">
                            <h1>Exercise Log</h1>
                        </div>
                        <div class="login-box">
                            <button id="login">LOGIN</button>
                        </div>
                        <div class="tutorial-box">
                            <button id="tutorial">TUTORIAL</button>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="exercise-content">
            <div class="exercise-container">
                <div class="exercise-side-bar">
                    <div class="exercise-stat">
                        <h1 id="num-workouts">Number of Workouts:</h1>
                    </div>
                    <div class="exercise-stat">
                        <h1 id="days-of-rest">Days of Rest:</h1>
                    </div>
                    <div class="exercise-stat">
                        <h1>Search PR:</h1>
                    </div>
                </div>
                <div class="main-exercise-content">
                    <div class="new-exercise-log">
                        <button id="make-exercise-log">Create New Log</button>
                        <div id="miniModal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <h2>Submit Log</h2>
                                <form id="create-new-exercise-log">
                                    <label for="exercise">Exercise</label>
                                    <input type="text" id="exercise" name="exercise">
                                    <label for="metric">Metric</label>
                                    <input type="text" id="metric" name="metric">
                                    <label for="amount">Amount</label>
                                    <input type="text" id="amount" name="amount">
                                    <label for="reps">Reps</label>
                                    <input type="text" id="reps" name="reps">
                                    <label for="sets">Sets</label>
                                    <input type="text" id="sets" name="sets">
                                    <button type="submit">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="exercise-history">
                        <div id="exerciseLogModal" class="modal">
                            <div class="modal-content">
                                <span class="closeExerciseLog">&times;</span>
                                <h2>Log Information:</h2>
                                <h2 id="insert-date">Date:</h2>
                                <h2 id="insert-day">Day:</h2>
                                <h2 id="insert-label">Exercise:</h2>
                                <h2 id="insert-weight">Weight:</h2>
                                <h2 id="insert-metric">Metric:</h2>
                                <h2 id="insert-reps">Reps:</h2>
                                <h2 id="insert-sets">Sets:</h2>
                                <button id="deleteExerciseLog">Delete Log</button>
                            </div>
                        </div>
                        <table id="table" class="table">
                            <tr class="top">
                                <!-- Top row where new logs will be inserted below it -->
                            </tr>
                        </table>
                        <div id="more">

                        </div>
                        <div id="less">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>