<!DOCTYPE html>
<html>
    <head>
        <title>GymAppTitle</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-bar">
                <div class="container">
                    <div class="home-box">
                        <button>HOME</button>
                    </div>
                    <div class="about-box">
                        <button>ABOUT</button>
                    </div>
                    <div class="page-box">
                        <h1>Home</h1>
                    </div>
                    <div class="login-box">
                        <button>LOGIN</button>
                    </div>
                    <div class="tutorial-box">
                        <button>TUTORIAL</button>
                    </div>
                </div>
            </nav>
        </header>
        <div class="main">
            <div class="overlay"></div>
            <h2 class="picture-text">Insert Title Of Website</h2>
        </div>
        <div class="home-content">
            <h1>Here goes content</h1>
        </div>
    </body>
</html>