<!DOCTYPE html>
<html>
    <head>
        <title>MuscleMaster</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="/static/js/login.js" defer></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-bar">
                    <div class="container">
                        <div class="home-box">
                            <button id="home">HOME</button>
                        </div>
                        <div class="about-box">
                            <button id="about">ABOUT</button>
                        </div>
                        <div class="page-box">
                            <h1>Login</h1>
                        </div>
                        <div class="login-box">
                            <button id="login">LOGIN</button>
                        </div>
                        <div class="tutorial-box">
                            <button id="tutorial">TUTORIAL</button>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="login-content">
            <div class="login-help" id="login-fail">
                <h1>Log In Here</h1>
            </div>
            <div class="login-form">
                <form id="login-button">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <button type="submit">Log In</button>
                </form>
            </div>
        </div>
    </body>
</html>