<!DOCTYPE html>
<html>
    <head>
        <title>GymAppTitle</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="/static/js/profile.js" defer></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-bar">
                    <div class="container">
                        <div class="home-box">
                            <button id="home">HOME</button>
                        </div>
                        <div class="about-box">
                            <button id="about">ABOUT</button>
                        </div>
                        <div class="page-box">
                            <h1>Profile</h1>
                        </div>
                        <div class="login-box">
                            <button id="login">LOGIN</button>
                        </div>
                        <div class="tutorial-box">
                            <button id="tutorial">TUTORIAL</button>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="profile-content">
            <h1 id="profile-id">No Profile ID</h1>
        </div>
    </body>
</html>